@import '../../styles/styleguide.scss';

.ThankYou{
    width:100%;
    height: 80vh;
    // border:1px solid red;

    img{
        width:20vw;
    }

    a{
        background: $primary;
        color: white;
        padding:1em 3em;
    }
}