@import '../../styles/styleguide.scss';

.Banner{
    height: 70px;
    width:100%;
    background: $primary;
    margin-top: 30px;
    padding: 0 30px;

    p{
        text-align: center;
        color: $grey;
        line-height: 24px;
        span{
            color: #fff;
        }
    }
}