@import '../../styles/styleguide.scss';


@media only screen and (min-width:900px){
    .container{
        grid-template-columns: 1fr 1fr;
        height: 600px;
    }

    .img-div{
        height: 400px;

    }

    select{
        width: 100px;
    }
}

@media only screen and (max-width:900px){

    .container{
        height: auto;
    }
    .img-div{
        height: 300px;

    }

    select{
       border:1px solid $primary;
       margin-bottom: 10px;
       width:100%;
    }

    .btn-send{
        margin-left: 0 !important;
        width:100%;
    }
}
.SingleProduct{
    width:100%;
    padding: 0 $mainPadding;
    margin-top: 150px;
    

    .container{
        width:90%;
       
        // border:1px solid red;
        display: grid;
        margin: 60px 0;

        .img-div{
                width:100%;
               
                img{
                    width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }
        }
        

        .prod-info{
            // border:1px solid red;
            .price-section{
                width:100%;
                // border:1px solid red;
                height: 50%;
                padding: 20px 0px;

                h4{
                    color: $grey;
                    font-size: 20px;
                    span{
                       color: white;
                       background: #25B86C;
                       font-size: 12px;
                       padding: 5px;
                       margin: 10px;
                    }
                }

                .big{
                    font-size: 48px;
                    margin-bottom: 45px;
                    margin-top: 30px;
                }

                .btn-div{
                    // width:100%;

                    select{
                        height:48px;
                        font-size: 18px;
                    }
                    .btn-send{
                        height: 48px;
                        background: $primary;
                        color: white;
                        border:none;
                        position: relative;
                        bottom: 1px;
                        padding: 0 1.5em;
                        margin-left: 10px;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }

                
            }

          
            .info-desc{
                // border:1px solid green;
                width:100%;
                // height: 100%;

                .bold{
                    font-weight: 700;
                }
                .p-text{
                    line-height: 30px;
                    color: $grey;
                    text-align: justify;
                }
            }
        }
    }
}