.p, .p-nav, .p-price, .heading {
  font-size: 16px;
  color: #131313;
  line-height: 40px;
  font-family: Roboto, system-ui, system-ui, -apple-system, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.p-nav {
  color: #6e6e6e;
}

.p-price {
  color: #6e6e6e;
  font-size: 14px;
}

.heading {
  font-size: 32px;
  font-weight: 500;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.center-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hide {
  display: none;
}

.bg {
  background: #131313;
}

@media only screen and (max-width: 900px) {
  .grid-mobile {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mobile-hide {
    display: none !important;
  }
}

@media only screen and (min-width: 900px) {
  .desktop-hide {
    display: none !important;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 600px;
  }
  .img-div {
    height: 400px;
  }
  select {
    width: 100px;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    height: auto;
  }
  .img-div {
    height: 300px;
  }
  select {
    border: 1px solid #131313;
    margin-bottom: 10px;
    width: 100%;
  }
  .btn-send {
    margin-left: 0 !important;
    width: 100%;
  }
}

.SingleProduct {
  width: 100%;
  padding: 0 10%;
  margin-top: 150px;
}

.SingleProduct .container {
  width: 90%;
  display: -ms-grid;
  display: grid;
  margin: 60px 0;
}

.SingleProduct .container .img-div {
  width: 100%;
}

.SingleProduct .container .img-div img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.SingleProduct .container .prod-info .price-section {
  width: 100%;
  height: 50%;
  padding: 20px 0px;
}

.SingleProduct .container .prod-info .price-section h4 {
  color: #6e6e6e;
  font-size: 20px;
}

.SingleProduct .container .prod-info .price-section h4 span {
  color: white;
  background: #25B86C;
  font-size: 12px;
  padding: 5px;
  margin: 10px;
}

.SingleProduct .container .prod-info .price-section .big {
  font-size: 48px;
  margin-bottom: 45px;
  margin-top: 30px;
}

.SingleProduct .container .prod-info .price-section .btn-div select {
  height: 48px;
  font-size: 18px;
}

.SingleProduct .container .prod-info .price-section .btn-div .btn-send {
  height: 48px;
  background: #131313;
  color: white;
  border: none;
  position: relative;
  bottom: 1px;
  padding: 0 1.5em;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

.SingleProduct .container .prod-info .info-desc {
  width: 100%;
}

.SingleProduct .container .prod-info .info-desc .bold {
  font-weight: 700;
}

.SingleProduct .container .prod-info .info-desc .p-text {
  line-height: 30px;
  color: #6e6e6e;
  text-align: justify;
}
/*# sourceMappingURL=style.css.map */