@import '../../styles/styleguide.scss';


@media only screen and (min-width:900px){
    .Footer{
        grid-template-columns: repeat(4, 1fr);
    }
}


@media only screen and (max-width:900px){
    .Footer{
        grid-template-columns: 1fr;
    } 
}
 

.Footer{
    width:100%;
    display: grid;
    height:300px;
    margin-top: 60px;

    .footer-box{
        width:100%;
        // border:1px solid red;
        height: 100%;

        p{
            color: $grey;
        }

        ul{
            padding: 0;

            li{
                list-style: none;
                line-height: 32px;
            }
        }
    }
}